/* * {
    outline: solid 1px red;
} */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

body {
    background-color: #eee;
    font-family: Source Sans Pro;
    font-weight: 200;
}

h2 {
    font-family: Roboto Slab;
    font-size: 1.7em;
}

.newspaper-container {
    background-color: white;
    align-items: center;
    width: 700px;
    margin: auto;
    border-radius: 1%;
    padding: 25px 25px;
}

nav ul {
    list-style: none;
    display: inline-block;
    padding: 0%;
    margin: 4px;
}

nav {
    border-top: solid 1px #777;
    border-bottom: solid 1px #777;
    position: sticky;
    top: 0px;
    background-color: white;
}

header h1 {
    font-family: Abril Fatface;
}

h5 {
    font-family: Abril Fatface;
    color: red;
    font-size: 1em;
    font-weight: 200;
    margin-top: 15px;
}

li, a {
    display: inline-block;
    padding: 4px;
    font-size: 1em;
    font-weight: 100;
    text-decoration: none;
    color: #777;
}

h1 {
    text-align: center;
}

.frontpageimg {
    width: 100%;
}

h4 {
    font-family: Roboto Slab;
}

p {
    text-align: justify;
}

.more-articles div {
    display: inline-block;
    width: 47%;
    padding-right: 15px;
}


.even-more {
    display: grid;
    grid-template-columns: auto auto auto;
}

.even-more div {
    padding-right: 15px;
}

.content-image {
    width: 100%;
}

